node_modules
/build
/.svelte-kit
/package
.next/
.vscode/
target/
.vscode/
.DS_Store
!.env.example
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
package-lock.json
*.csv
*.sqlite
*.zip
/logs
test.js
test.txt
tmp.js
out.json
