.log {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
  width: 40rem;
  background-color: rgb(109, 109, 109);
  thead {
    tr {
      padding: 15px;
      margin: 15px;
      text-align: left;
      border-color: black;
      border-radius: 5px;
      background-color: blueviolet;
      th {
        :first-of-type {
          width: max-content;
        }
        border-radius: 5px;
        padding: 15px;
        margin: 15px;
        background-color: rgb(69, 69, 69);
      }
    }
  }
  tbody {
    tr {
      animation-name: adelement;
      animation-duration: 5s;
      animation-timing-function: ease;
      animation-delay: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      padding: 105px;
      margin: 15px;
      :not(:first-child) {
        text-align: center;
      }
      border-color: black;
      border-radius: 5px;
      background-color: blueviolet;
      &.blocked {
        td {
          border-radius: 5px;
          padding: 15px;
          background-color: rgb(253, 73, 73);

          color: rgb(255, 255, 255);
        }
        button {
         
          background-color: rgba(0, 200, 57);
          border-radius: 5px;
          border-width: 0px;
          padding: 5px;
          width: max-content;
        }
      }
      &.allowed {
        td {
          border-radius: 2px;
          padding: 15px;
          background-color: rgba(0, 200, 57);
          color: rgb(255, 255, 255);
        }
        button {
          background-color: rgb(253, 73, 73);
          border-radius: 2px;
          border-width: 0px;
          padding: 5px;
          width: max-content;
        }
      }
      &.question {
        td {
          border-radius: 5px;
          padding: 15px;
          background-color: rgb(53, 53, 53);
          color: rgb(255, 255, 255);
        }
      }
      td {
        border-radius: 5px;
        padding: 15px;
      }
    }
  }
}
@keyframes adelement {
  from {
    background-color: blue;
  }

  to {
    background-color: yellow;
  }
}
