<!DOCTYPE html>
<html>
  <head>
    <title>Blackhole - About</title>
    <meta name="title" content="Blackhole" />
    <meta name="description" content="Blackhole is a network-wide adblocker monitoring all ads passing through your network and sucking them out" />
    <meta name="keywords" content="blackhole, adblocker, ad-blocker, pi-hole, DNS, Domain Name Server, dns, dns-server, server, blocker" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="1 days" />
    <meta name="author" content="Rajaneesh R" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <div>
      <h1 data-value="Blackhole" id="fancy">Blackhole</h1>
    </div>
    <script>
      document.getElementById("fancy").addEventListener("mouseover", (ev) => {
        ev.preventDefault();
        console.log(ev.target);
      });
    </script>
  </body>
</html>
