* {
  background-color: rgb(40, 40, 40);
  color: white;
  scroll-behavior: smooth;
}
.go-up {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 90%;
}
#go-up {
  background-color: rgb(55, 55, 55);
  color: white;
  width: max-content;
  height: max-content;
  padding: 20px;
  border-radius: 7px;
}

button {
  --i: var(--light, 0);
  --not-i: calc(1 - var(--i));
  --j: var(--press, 0);
  --not-j: calc(1 - var(--j));
  z-index: var(--i);
  border: none;
  /* width: 2em;
  height: 2em; */
  border-radius: 15%;
  transform: scale(calc(1 - var(--j) * 0.02));
  /* box-shadow: calc(var(--not-j) * -0.25em) calc(var(--not-j) * -0.25em) 0.25em rgba(22, 22, 22, var(--not-j)),
    calc(var(--not-j) * 0.25em) calc(var(--not-j) * 0.25em) 0.25em rgba(10, 18, 30, var(--not-j)),
    inset calc(var(--j) * 0.25em) calc(var(--j) * 0.25em) 0.25em rgba(10, 18, 30, var(--j)),
    inset calc(var(--j) * -0.25em) calc(var(--j) * -0.25em) 0.25em rgba(22, 22, 22, var(--j)); */
  /* background: rgb(27, 27, 27); */
  /* font-size: 2.5em; */
  transition: box-shadow 0.3s, transform 0.3s cubic-bezier(0.2, 4, 1, 3);
  cursor: pointer;
}
button::after {
  filter: Contrast(0) Sepia(var(--i)) Hue-Rotate(calc(var(--hue) - 50deg)) Saturate(5) Opacity(calc(var(--i) + 0.21 * var(--not-i)))
    Drop-Shadow(1px 1px hsla(0, 0%, 100%, var(--not-i)));
  transition: filter 0.3s;
}

button:hover,
button:focus {
  outline: none;
  --light: 1;
}
button:active {
  --press: 1;
}
