* {
  background-color: gray;
  color: white;
  scroll-behavior: smooth;
}
.go-up {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 90%;
}
#go-up {
  background-color: rgb(55, 55, 55);
  color: white;
  width: max-content;
  height: max-content;
  padding: 20px;
  border-radius: 7px;
}

