<!DOCTYPE html>
<html>
  <head>
    <title>Blackhole</title>
    <meta name="title" content="Blackhole" />
    <meta name="description" content="Blackhole is a network-wide adblocker monitoring all ads passing through your network and sucking them out" />
    <meta name="keywords" content="blackhole, adblocker, ad-blocker, pi-hole, DNS, Domain Name Server, dns, dns-server, server, blocker" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="1 days" />
    <meta name="author" content="Rajaneesh R" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="icon" href="/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="/style/global.css" />
    <link rel="stylesheet" type="text/css" href="/style/admin.css" />
    <link rel="stylesheet" type="text/css" href="/style/components/log.css" />
    <link rel="stylesheet" type="text/css" href="/style/components/control.css" />
  </head>
  <body>
    <layout class="controls">
      <!--  -->
      <%- include("../!components/admin/log.ejs") %>
      <!--  -->
      <%- include("../!components/admin/control.ejs") %>
      <!--  -->
      <!-- <div class="sticky"><button id="go-up">Go Up</button></div> -->
      <!--  -->
    </layout>
  </body>
  <!-- <script>
    document.getElementById("go-up").addEventListener("click", (ev) => {
      ev.preventDefault();
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
  </script> -->
  <script type="text/javascript" src="/javascript/socket.io.js"></script>
  <script type="text/javascript" src="/javascript/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/axios.min.js"></script>
  <script type="text/javascript" src="/javascript/components/log.js"></script>
  <script type="text/javascript" src="/javascript/components/control.js"></script>
</html>
