<!DOCTYPE html>
<html>
  <head>
    <title>Blackhole</title>
    <meta name="title" content="Blackhole" />
    <meta name="description" content="Blackhole is a network-wide adblocker monitoring all ads passing through your network and sucking them out" />
    <meta name="keywords" content="blackhole, adblocker, ad-blocker, pi-hole, DNS, Domain Name Server, dns, dns-server, server, blocker" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="1 days" />
    <meta name="author" content="Rajaneesh R" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="icon" href="/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="../!styles/admin.css" />
    <link rel="stylesheet" type="text/css" href="../!styles/components/log.css" />
    <link rel="stylesheet" type="text/css" href="../!styles/components/control.css" />
  </head>
  <body>
    <layout class="controls">
      <!--  -->
      <%- include("../!components/admin/log.ejs") %>
      <!--  -->
      <%- include("../!components/admin/control.ejs") %>
      <!--  -->
    </layout>
  </body>

  <script type="text/javascript" src="../!scripts/socket.io.js"></script>
  <script type="text/javascript" src="../!scripts/jquery.min.js"></script>
  <script type="text/javascript" src="../!scripts/axios.min.js"></script>
  <script type="text/javascript" src="../!scripts/components/log.js"></script>
  <script type="text/javascript" src="../!scripts/components/control.js"></script>
</html>
