<div class="sticky" style="overflow-x: auto;">
  <form id="ad-control" class="ad-control">
    <input placeholder="ads-microsoft.com" id="ad-control-text" name="control-text" />
    <div class="buttons">
      <button class="block">Block</button>
      <button class="unblock">Unblock</button>
    </div>
  </form>
</div>
