<div class="live-panel">
  <h3>Stats</h3>
  <div class="panel">
    <div>
      <div class="allowed tooltip">
        <span id="total-allowed">0</span>
      </div>
      <span class="tooltiptext">Total Allowed</span>
    </div>
    
    <div>
      <div class="blocked tooltip">
        <span id="total-blocked">0</span>
      </div>
      <span class="tooltiptext">Total Blocked</span>
    </div>

    <div>
      <div class="total tooltip">
        <span id="total-queries">0</span>
      </div>
      <span class="tooltiptext">Total Queries</span>
    </div>
  </div>
</div>
