<div style="overflow-x: auto">
  <table class="log" id="log">
    <thead>
      <tr>
        <th>Time</th>
        <th>Domain</th>
        <th>Class</th>
        <th>Type</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody id="logs"></tbody>
  </table>
</div>
